SpaceOpponent/SpaceOpponent/Service References/SpaceServiceReference/SpaceService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SpaceService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SpaceService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Vector">
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:float" />
      <xs:element minOccurs="0" name="Y" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vector" nillable="true" type="tns:Vector" />
  <xs:complexType name="ArrayOfMatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Match" nillable="true" type="tns:Match" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatch" nillable="true" type="tns:ArrayOfMatch" />
  <xs:complexType name="Match">
    <xs:sequence>
      <xs:element minOccurs="0" name="LevelSeed" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerStates" nillable="true" type="tns:ArrayOfPlayerState" />
      <xs:element minOccurs="0" name="StartTimeStamp" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Match" nillable="true" type="tns:Match" />
  <xs:complexType name="ArrayOfPlayerState">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerState" nillable="true" type="tns:PlayerState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerState" nillable="true" type="tns:ArrayOfPlayerState" />
  <xs:complexType name="PlayerState">
    <xs:sequence>
      <xs:element minOccurs="0" name="Finished" type="xs:boolean" />
      <xs:element minOccurs="0" name="Player" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="tns:Vector" />
      <xs:element minOccurs="0" name="ResultRequested" type="xs:boolean" />
      <xs:element minOccurs="0" name="Score" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerState" nillable="true" type="tns:PlayerState" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeviceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HighScore" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
</xs:schema>