SpaceOpponent/SpaceOpponent/Service References/SpaceServiceReference/SpaceService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SpaceService.Model.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SpaceService.Model.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nmobil.aut.bme.hu/SpaceService/SpaceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SpaceService.Model" />
  <xs:complexType name="StartMultiplayerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="LevelSeed" type="xs:int" />
      <xs:element minOccurs="0" name="Ready" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartTimeStamp" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StartMultiplayerResponse" nillable="true" type="tns:StartMultiplayerResponse" />
  <xs:complexType name="TickResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SpaceService.Model" minOccurs="0" name="OpponentPosition" nillable="true" type="q1:Vector" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TickResponse" nillable="true" type="tns:TickResponse" />
</xs:schema>